.git
.gitignore
.env
*.md
storage/logs/*
storage/sessions/*
storage/signatures/*
.docker/*
!.docker/apache/
!.docker/apache/vhost.conf
!.docker/php/
!.docker/php/php.ini
docker-compose.yml
Dockerfile
